In [ ]:
from google.colab import drive
drive.mount('/drive')
import pandas as pd
import numpy as np
import json
import ast
from tqdm.notebook import tqdm
tqdm.pandas()

Drive already mounted at /drive; to attempt to forcibly remount, call drive.mount("/drive", force_remount=True).

## Prerequisite
1. Your HOME directory has following files:
- period.json
- courses.csv
- classes.csv
<br/>
Prior to processing the period.json, you should already have the csv files. If you don't, please acquire those ones first.
<br/>
2. period.json has 6 columns: 
```
id.$oid
name
is_detail
courses
last_update_at.$date
major_id.$oid
```
## Execution
Just `Run All` cells and you will get the csv result placed in your HOME directory

In [ ]:
HOME = "/drive/My Drive/Susun Jadwal/"

In [ ]:
f = open(HOME+"period.json", "r")
period = pd.json_normalize(json.load(f)).rename(columns={"_id.$oid":"id", "major_id.$oid": "major_id", "last_update_at.$date": "date"})
period.head()

,name,is_detail,courses,id,major_id,date
0,2021-1,True,"[{'name': 'Analisis Numerik', 'credit': 3, 'te...",60f4fab98cd53dc0e3b371c9,60f4f2b38cd53dc0e3b371b9,2021-08-19T21:25:28.289Z
1,2021-1,True,"[{'name': 'Aljabar Linier', 'credit': 3, 'term...",60f502528cd53dc0e3b371d3,60f4f3068cd53dc0e3b371bc,2021-08-20T06:58:26.518Z
2,2021-1,True,"[{'name': 'Aljabar Linier', 'credit': 3, 'term...",60f505418cd53dc0e3b371d6,60f4f3558cd53dc0e3b371bf,2021-08-19T04:38:09.389Z
3,2021-1,True,"[{'name': ' Fitomedisin', 'credit': 2, 'term':...",60f510c98cd53dc0e3b371e1,60f510958cd53dc0e3b371df,2021-08-16T16:42:40.479Z
4,2021-1,True,"[{'name': 'Bimbingan Pendidikan', 'credit': 3,...",60f518588cd53dc0e3b371ea,60f517f18cd53dc0e3b371e4,2021-08-08T17:59:49.65Z

In [ ]:
courses = pd.read_csv(HOME+"courses.csv")
classes = pd.read_csv(HOME+"classes.csv")

In [ ]:
classes.head()

,name,schedule_items,lecturer,course_id,id,period_id
0,Analisis Numerik A,"[{'day': 'Senin', 'start': '08.00', 'end': '09...","[' Prof. Drs. T. Basaruddin, M.Sc., Ph.D.', ' ...",0,0,60f4fab98cd53dc0e3b371c9
1,Analisis Numerik B,"[{'day': 'Senin', 'start': '10.00', 'end': '11...","[' Prof. Drs. T. Basaruddin, M.Sc., Ph.D.', ' ...",0,1,60f4fab98cd53dc0e3b371c9
2,Basis Data A,"[{'day': 'Selasa', 'start': '10.00', 'end': '1...","[' Mei Silviana Saputri, S.Kom., M.Kom.']",1,2,60f4fab98cd53dc0e3b371c9
3,Basis Data B,"[{'day': 'Selasa', 'start': '10.00', 'end': '1...","[' Bintang Annisa Bagustari, S.Kom., M.Kom.', ...",1,3,60f4fab98cd53dc0e3b371c9
4,DDP 2,"[{'day': 'Selasa', 'start': '10.00', 'end': '1...","[' Dr. Ade Azurat, S.Kom.']",2,4,60f4fab98cd53dc0e3b371c9

In [ ]:
df = pd.DataFrame()
new_rows = []

def get_lecturers(row):
  lecturers = ast.literal_eval(row['lecturer'])
  lecturers = [lecturer.strip() for lecturer in lecturers]
  new_lecturers = [ [lecturer, row['course_id'], row['name'], row['period_id'], row['schedule_items']] for lecturer in lecturers]
  for new_lecturer in new_lecturers:
    new_rows.append(new_lecturer)

classes.progress_apply(get_lecturers, axis=1)
df = df.append(new_rows).rename(columns={0: 'lecturer', 1:'course_id', 2:'course_name', 3:'period_id', 4:'schedule_items'})
df.to_csv(HOME+'lecturers.csv', index=False)
df

  0%|          | 0/37301 [00:00<?, ?it/s]

,lecturer,course_id,course_name,period_id,schedule_items
0,"Prof. Drs. T. Basaruddin, M.Sc., Ph.D.",0,Analisis Numerik A,60f4fab98cd53dc0e3b371c9,"[{'day': 'Senin', 'start': '08.00', 'end': '09..."
1,"Raja Oktovin Parhasian Damanik, S.Kom., M.Sc.",0,Analisis Numerik A,60f4fab98cd53dc0e3b371c9,"[{'day': 'Senin', 'start': '08.00', 'end': '09..."
2,"Prof. Drs. T. Basaruddin, M.Sc., Ph.D.",0,Analisis Numerik B,60f4fab98cd53dc0e3b371c9,"[{'day': 'Senin', 'start': '10.00', 'end': '11..."
3,"Raja Oktovin Parhasian Damanik, S.Kom., M.Sc.",0,Analisis Numerik B,60f4fab98cd53dc0e3b371c9,"[{'day': 'Senin', 'start': '10.00', 'end': '11..."
4,"Mei Silviana Saputri, S.Kom., M.Kom.",1,Basis Data A,60f4fab98cd53dc0e3b371c9,"[{'day': 'Selasa', 'start': '10.00', 'end': '1..."
...,...,...,...,...,...
58328,sampai dengan 23/08/2021,19157,SEM 3(P):Konsumen LF,611a22a9a4fd317044ab8b97,"[{'day': 'Kamis', 'start': '16.00', 'end': '18..."
58329,"<td class=""ce inf"">Belum diinformasikan",19158,SEM 3P: Psidikar(LF),611a22a9a4fd317044ab8b97,"[{'day': 'Jumat', 'start': '15.00', 'end': '17..."
58330,sampai dengan 23/08/2021,19158,SEM 3P: Psidikar(LF),611a22a9a4fd317044ab8b97,"[{'day': 'Jumat', 'start': '15.00', 'end': '17..."
58331,"<td class=""ce inf"">Belum diinformasikan",19159,SEM 3(P): SKK,611a22a9a4fd317044ab8b97,"[{'day': 'Jumat', 'start': '15.00', 'end': '17..."
58332,sampai dengan 23/08/2021,19159,SEM 3(P): SKK,611a22a9a4fd317044ab8b97,"[{'day': 'Jumat', 'start': '15.00', 'end': '17..."